@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
      scroll-behavior: smooth;
    @apply bg-black text-white;
  }
}
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 40s linear infinite;
}
